@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    top: 0;
    position: fixed;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #3cba5d;
    margin-left: 10px;
    border-radius: 0 0 50px 50px; 
    border-radius: 0 0 50px 50px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    margin-left: auto; margin-right: auto;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}   

.logo-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
}

.website-logo {
    max-width: 7em;
    display: block;
    height: auto;
}

.selection-item{
    text-decoration: none !important; 
    position: relative;
    display: inline-block;
    font-size: 1.4rem !important;
    padding-right: 2.8rem;
    color: white !important;
    text-shadow: 2px 2px 5px black;
    font-family: "Kanit", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 3px;
}

.selection-item:hover {
    transform: scale(1.1); 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6), 
    0 0 30px rgba(255, 255, 255, 0.4);
}

.website-logo:hover {
    transform: scale(1.05); 
}

  .selection-item::after {
    content: "";
    position: absolute;
    left: 34%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.selection-item:hover::after {
    width: 70%;
}